<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GI.REL.Properties.Settings.GestorImoveisConnectionString"
            connectionString="Data Source=DESKTOP-S0416TV\SQLEXPRESS;Initial Catalog=GestorImoveis;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>